    <footer class="pokedex-footer">
      <div class="footer-row">
        <div class="footer-badge">Pocket Network v1.0</div>
        <div class="footer-links">
          <a href="#search">Search</a>
          <a href="#types">Types</a>
          <a href="#list">Grid</a>
          <a href="https://pokeapi.co/" target="_blank" rel="noopener">PokeAPI</a>
        </div>
        <div class="footer-note">Data provided by PokeAPI</div>
      </div>
    </footer>
  </div>
</body>
</html>